.appContainer {
  display: grid;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4f4f4;
}

.errorMessage {
  border: 1px solid #e74c3c;
  padding: 10px;
  margin: 10px 0;
  background-color: #f8d7da;
  color: #721c24;
  border-radius: 5px;
}